---
import type { ComponentProps } from "../../../../../../globals/types/ComponentProps";
import type { TranslationsType } from "../../../../../../globals/types/Translations";
import FormWrapper from "../../../components/v2/FormWrapper.astro";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `<strong class="text-secondary">We signal opportunities</strong> you take advantage of them`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const formTitle: TranslationsType = {
  en: `Get your free signals!`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const formButton: TranslationsType = {
  en: `Register Now`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<section class="">
  <div class="container grid place-items-center py-8">
    <h1
      class="max-w-[28ch] text-center font-ubuntu text-v2-heading1 uppercase text-primary"
      set:html={title[componentProps.lang]}
    />
  </div>
  <div class="block md:hidden">
    <FormWrapper
      componentProps={componentProps}
      title={formTitle[componentProps.lang]}
      buttonLabel={formButton[componentProps.lang]}
      id="titleForm"
    />
  </div>
</section>
