@layer reset;
@layer layout;
@layer base;
@layer components;
@layer componentsLPS;
@layer utilities;

@import "./reset/";
@import "./utilities/";

.fxoroBrand {
  font-weight: bold;
  font-weight: 900;
  color: inherit;
  span {
    color: #ffb10a;
  }
}
