---
import { useReturnSVG } from "../../../../../globals/composables/useReturnSVG";
import { type ComponentProps } from "../../../../../globals/types/ComponentProps";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const bgColor = "#000";

const svgLogo = useReturnSVG(componentProps, "whiteOrange");
---

<header id="header" class="siteHeader">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <Fragment set:html={svgLogo} />
      </div>
    </div>
  </div>
</header>

<style define:vars={{ bgColor }}>
  #header.siteHeader {
    background-color: var(--bgColor);
    color: white;
  }
</style>
