---
import type { CustomOptions } from "@/pages/index.astro";
import { type ComponentProps } from "../../../../../globals/types/ComponentProps";
import MainLogo from "../../../../../globals/components/logos/MainLogo.astro";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;
---

<header
  id="header"
  class="siteHeader border-b border-secondary-foreground py-6"
>
  <div class="container text-black [&>svg]:max-w-full">
    <MainLogo
      size={componentProps.brandObj.nameToLower}
      logo={componentProps.logo()}
      square={componentProps.customOptions?.logoSquare}
    />
  </div>
</header>
