---
import type { CustomOptions } from "@/pages/index.astro";
import { type ComponentProps } from "../../../../../globals/types/ComponentProps";
import MainLogo from "../../../../../globals/components/logos/MainLogo.astro";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;
---

<header class="py-4">
  <div class="container [&>svg]:max-w-[100px] [&>svg]:md:max-w-full">
    <MainLogo
      size={componentProps.brandObj.nameToLower}
      logo={componentProps.logo()}
      square={componentProps.customOptions?.logoSquare}
    />
  </div>
</header>

<style define:vars={{}}></style>
