---
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import type { ComponentProps } from "../../../../../../globals/types/ComponentProps.ts";
import type { TranslationsType } from "../../../../../../globals/types/Translations.ts";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const buttonLabel: TranslationsType = {
  en: `Open an account now`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const btnDisclaimer: TranslationsType = {
  en: `Trading CFD's is risky. You might lose all your invested capital.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section class="relative py-4 md:py-9 lg:py-10 xl:py-12">
  <div class="container grid place-items-center gap-1">
    <a
      href="#header"
      class={cn(
        buttonVariants({ variant: "secondary" }),
        "font-bold bg-black py-6 px-8  text-white hover:bg-black hover:text-white hover:opacity-85",
      )}
      set:html={buttonLabel[componentProps.lang]}
    />
    <p
      class="max-w-[30ch] text-center text-xs"
      set:html={btnDisclaimer[componentProps.lang]}
    />
  </div>
</section>
