---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../../../globals/types/ComponentProps";
import subHeaderBG2 from "../../../assets/imgs/Lecture/subHeaderBG2.jpg";
import type {
  TextVersionTranslation,
  TranslationsType,
} from "../../../../../../globals/types/Translations";
import useTextVersion from "../../../../../../globals/composables/useTextVersion";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const titleVs: TextVersionTranslation = {
  v1: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: `GRATIS Handelsutbildning Online`,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v2: {
    en: "<span class='text-secondary'>Forex</span> trading",
    it: "<span class='text-secondary'>Forex</span> trading",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "Trading en <span class='text-secondary'>forex</span>",
    sv: "<span class='text-secondary'>Forex</span>handel",
    pt: "",
    fi: "",
    pl: "Handel <span class='text-secondary'>forex</span> online",
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v3: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: `Darmowy kurs tradingu ONLINE`,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v4: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: `Cursos de trading <span class="text-secondary uppercase">GRATIS</span>`,
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
};
const title = useTextVersion(
  titleVs,
  componentProps.textVersion,
) as TranslationsType;

const parasVs: TextVersionTranslation = {
  v1: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: `
      <p>Forex-marknaden är den största och mest likvida marknaden i världen. Det är därför den är kopplad till många framgångshistorier. Vår kurs tillåter både nybörjare och proffs att förbättra sina handelsfärdigheter.</p>
      <p>De som har intelligensen att följa vår Forex-kurs till slutet kommer att upptäcka de bästa strategierna och indikatorerna för Forex-handel.</p>`,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v2: {
    en: `
      <p>Forex is the largest and most liquid market in the world, and many people feel attracted to the idea of online trading.</p>
      <p>For those who are just beginning their trading journey, educational is a prerequisite. Before starting this journey, it is important to make the necessary research by expanding your knowledge.</p>`,
    it: `
      <p>Il Forex è il mercato più grande e con maggiore liquidità al mondo,  molte persone sono attratte dall'idea del trading online.</p>
      <p>Per coloro che stanno appena iniziando il loro percorso di trading, l'educazione è un prerequisito. Prima di intraprendere questo viaggio, è importante effettuare le ricerche necessarie ampliando la propria conoscenza.</p>`,
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: `
      <p>Forex es el mercado más grande y líquido del mundo, y muchas personas se sienten atraídas por la idea de operar en línea.</p>
      <p>Para quienes comienzan su andadura en el trading, la formación es un requisito indispensable. Antes de iniciar este viaje, es importante realizar la investigación necesaria ampliando sus conocimientos. </p>`,
    sv: `
      <p>Forex är den största och mest likvida marknaden i världen, och många människor känner sig lockade av tanken på onlinehandel.</p>
      <p>För dem som precis har börjat sin handelsresa är utbildning en förutsättning. Innan du börjar denna resa är det viktigt att göra nödvändig forskning genom att utöka din kunskap.</p>`,
    pt: "",
    fi: "",
    pl: `
      <p>Forex to największy i najbardziej płynny rynek na świecie i wiele osób czuje pociąg do handlu online.</p>
      <p>Dla tych, którzy dopiero rozpoczynają swoją podróż handlową, wykształcenie jest warunkiem wstępnym. Przed rozpoczęciem tej podróży ważne jest, aby przeprowadzić niezbędne badania i poszerzyć swoją wiedzę.</p>`,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v3: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: `
      <p>Rynek Forex jest największym i najbardziej płynnym rynkiem na świecie. Dlatego też wiąże się z nim wiele historii sukcesu. Nasz kurs pozwala zarówno początkującym jak i profesjonalnym traderom na poprawę swoich umiejętności handlowych.</p>
      <p>Ci, którzy zdecydują się śledzić nasz kurs Forex do końca, będą w stanie odkryć najlepsze strategie i wskaźniki do handlu na rynku Forex.</p>`,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  v4: {
    en: "",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: `
      <p>El mercado Forex es el de mayor tamaño y liquidez del mundo, y el que puede garantizar los mayores beneficios, por lo tanto, es normal que muchos principiantes se sientan atraídos por él. Nuestro curso permite a todo el mundo, incluso a aquellos que no tienen experiencia, comenzar a operar Forex con éxito.</p>
      <p>Quien se sienta con ganas de seguir nuestro curso de forex hasta el final tendrá la oportunidad de descubrir las mejores estrategias y los mejores indicadores para operar forex.</p>
    `,
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
};
const paras = useTextVersion(
  parasVs,
  componentProps.textVersion,
) as TranslationsType;
---

<section id="section1" class="relative py-8 lg:py-32">
  <Image
    src={subHeaderBG2}
    alt="Graph presentation"
    class="absolute left-0 top-0 z-0 h-full w-full object-cover object-right lg:object-center xl:object-top"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, subHeaderBG2.width]}
    sizes={`
      (max-width: 320px) 320px,
      (max-width: 639px) 640px,
      (max-width: 767px) 768px,
      (max-width: 1023px) 1024px,
      (max-width: 1279px) 1280px,
      (max-width: 1535px) 1536px,
      100vw
    `}
  />
  <div
    class="absolute left-0 top-0 z-10 h-full w-full bg-primary opacity-90 lg:hidden"
  >
  </div>
  <div class="container relative z-20 flex">
    <div class="flex flex-col gap-6 lg:basis-1/2">
      <h1
        class="text-Lecture-heading1 font-bold text-white lg:bg-primary"
        set:html={title[componentProps.lang]}
      />
      <div class="flex flex-col gap-6 [&>p]:text-white sm:[&>p]:text-[18px]">
        <Fragment set:html={paras[componentProps.lang]} />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    @apply relative;
    &::before {
      content: "";
      @apply absolute -left-[10000px] top-0 hidden h-full w-[10000px] bg-primary lg:block;
    }
  }
</style>
