---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../../globals/types/ComponentProps";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection5: InfoSection = {
  title: {
    en: "Data transfer ",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: "",
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  paras: [
    {
      en: "Before leaving any personal information, please make sure that you have read and understood this Privacy Policy. ",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "When transferring data, adequate level of protection is maintained. Such transfers are made only and when necessary, as per the existing arrangements between the Company and an affiliated party. ",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  ],
};
---

<section id="section5">
  <div class="container space-y-4">
    <h2 class="flex items-center justify-start gap-4 text-lg font-medium">
      &bull;
      <span set:html={infoSection5.title[componentProps.lang]} />
    </h2>
    {
      infoSection5.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }
  </div>
</section>
