---
import type { ComponentProps } from "../../../../../../globals/types/ComponentProps";
import type { InfoSection } from "../../../types/InfoSection";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection2: InfoSection = {
  title: {
    en: "What do we use your information for?",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: "",
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  list: [
    {
      en: "To personalize your experience <br /> (your information helps us to better respond to your individual needs)",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "To improve our website <br /> (we continually strive to improve our website offerings based on the information and feedback we receive from you)",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "To improve customer service <br /> (your information helps us to more effectively respond to your customer service requests and support needs)",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "For informative purposes <br /> Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering information for any product or service requested.",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "To send periodic emails <br> The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  ],
};
---

<section id="section2" class="py-4">
  <div class="container">
    <h2 class="font-bold mb-4" set:html={infoSection2.title[componentProps.lang]} />
    <ul>
      {infoSection2.list?.map((li) => <li set:html={"&bull; " + li[componentProps.lang]} class="mb-2" />)}
    </ul>
  </div>
</section>
