---
import type { ComponentProps } from "../../../../../../globals/types/ComponentProps";
import type { InfoSection } from "../../../types/InfoSection";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection3: InfoSection = {
  title: {
    en: "How do we protect your information?",
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: "",
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  paras: [
    {
      en: "We implement a variety of security measures to maintain the safety of your personal information when you, submit, or enter/access your personal information",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "We offer the use of a secure server. All supplied sensitive information is stored, processed and/or transmitted using secured technology and through databases that are only t accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  ],
};
---

<section id="section3" class="py-4">
  <div class="container">
    <h2 class="font-bold mb-4" set:html={infoSection3.title[componentProps.lang]} />
    {infoSection3.paras?.map((para) => <p set:html={para[componentProps.lang]} class="mb-2" />)}
  </div>
</section>
